*{
  margin: 0;
  padding: 0;
}

.main{
  height: 100vh;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Example shadow */
}
.text-outline {
  text-shadow:
    1px 1px 2px rgba(0, 0, 0, 0.8),
    -1px -1px 2px rgba(0, 0, 0, 0.8),
    1px -1px 2px rgba(0, 0, 0, 0.8),
    -1px 1px 2px rgba(0, 0, 0, 0.8);
}
